<?xml version="1.0" encoding="UTF-8"?>

<widget xmlns		= "http://www.w3.org/ns/widgets"
	xmlns:gap	= "http://phonegap.com/ns/1.0"
	versionCode="1.5"
	version 	= "1.5"
	id        = "com.watchify">

	<preference name="phonegap-version" value="3.3.0" />
	<preference name="fullscreen" value="false" />

	<name>Watchify</name>

	<description>
		Watchify. Mens Watches Mobile Shop
	</description>

	<author href="devverse@gmail.com"
		email="devverse@gmail.com">
	</author>

	<gap:platforms>
		<gap:platform name="android" minVersion="2.4" />
		<gap:platform name="blackberry" project="widgets"/>
	</gap:platforms>

	<!-- General -->
	<icon src="icons/icon.png" width="72" height="72" />
	<icon src="icons/icon.png" width="48" height="48" />
	<icon src="icons/icon.png" width="36" height="36"  gap:role="default"  />

    <gap:splash src="splash.jpg" />
	<feature name="http://api.phonegap.com/1.0/network"/>
	
	<gap:plugin name="com.phonegap.plugins.childbrowser" version="5.0.0" />
</widget>
